@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 160px;
    color: rgb(54, 9, 95);
    color: #fff;
    color: black;
    text-align: center;
    /* background-color: #000; */
}

button {
    padding: 4%;
    margin: 4%;
    font-size: 30px;
}

@media screen and (max-width: 480px) {

    body {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    h1{
        margin: 20% 0;
    }
}